<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bucket List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A0CC25A1CE2973E00F8901D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A0CC26E1CE2973F00F8901D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A0CC2791CE2973F00F8901D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
